:root {
  --iax-background: #ff6c09;
  --iax-color: #fff;
}

.iaextractor-webx-button > span {
  color: var(--iax-background);
}
.iaextractor-webx-button::before {
  background-image: url('chrome-extension://__MSG_@@extension_id__/data/inject/download.svg') !important;
  background-size: 16px 16px !important;
  background-position: 0 !important;
}
@supports (-moz-appearance:meterbar) {
  .iaextractor-webx-button::before {
    background-image: url('moz-extension://__MSG_@@extension_id__/data/inject/download.svg') !important;
  }
}
.iaextractor-new-button {
  background-image: url('chrome-extension://__MSG_@@extension_id__/data/inject/download.svg') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px !important;
  cursor: pointer;
  min-width: 32px;
}
.iaextractor-mobile {
  background-size: 24px 24px !important;
}
@supports (-moz-appearance:meterbar) {
  .iaextractor-new-button {
    background-image: url('moz-extension://__MSG_@@extension_id__/data/inject/download.svg') !important;
  }
}

.iaextractor-webx-iframe {
  position: relative;
  background: transparent;
  border: none;
  z-index: 100;
  overflow: hidden;
  left: 50%;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .iaextractor-webx-iframe {
    left: 20%;
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .iaextractor-webx-iframe {
    left: 0%;
    width: 100%;
  }
}
